.CartItem {
    display: flex;
    background-color: burlywood;
    padding: .3em;
    margin: .3em;
}

.CartItemName {
    width: 40%;
    text-align: left;
}

.CartItemPrice {
    width: 15%;
    text-align: left;
}

.CartItemQty {
    width: 15%;
    text-align: center;
}

.CartItemSubtotal {
    width: 20%;
    text-align: right;
}