.Cart {
    width: 750px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    margin: 80px;
    padding: .75em;
}

.GrandTotal {
    text-align: right;
    padding: .4em;
    margin-right: .5em;
    font-weight: 700;
}